<footer class="bg-primary py-8 text-center text-white">
  <div class="container mx-auto flex flex-col items-center space-y-6">
    <!-- Логотип -->
    <a href="/">
      <img src="./dist/img/logo.png" alt="logo" class="mx-auto h-20" />
    </a>

    <!-- Навигация -->
    <nav
      class="hidden flex-wrap justify-center gap-6 text-sm font-semibold uppercase tracking-wide md:flex"
    >
      <a href="/text/1" class="hover:underline">Vedení klubu</a>
      <a href="/text/5" class="hover:underline">Informace</a>
      <a href="/matches.php" class="hover:underline">Zápasy</a>
      <a href="/text/4" class="hover:underline">Trenérská rada</a>
      <a href="https://klubovy-shop.webnode.cz/" class="hover:underline">Fanshop</a>
      <a href="https://fcshavlbrod.rajce.idnes.cz/" target="_blank" class="hover:underline"
        >Fotogalerie</a
      >
      <a href="/partners" class="hover:underline">Partneři</a>
      <a href="/calendar" class="hover:underline">Kalendář</a>
    </nav>

    <!-- Соцсети -->
    <div class="flex flex-wrap justify-center gap-6 text-sm">
      <a
        href="https://www.facebook.com/www.fcslovanhb.cz"
        target="_blank"
        class="flex items-center gap-2 hover:underline"
      >
        <svg class="fill-white" width="32" height="32">
          <use href="#facebook"></use></svg
        >Facebook
      </a>
      <a
        href="https://www.youtube.com/channel/UCZttCAfAAV8gAbv7umuRmnA"
        target="_blank"
        class="flex items-center gap-2 hover:underline"
      >
        <svg class="fill-white" width="32" height="32">
          <use href="#youtube"></use></svg
        >YouTube
      </a>
      <a
        href="https://twitter.com/FcBrod"
        target="_blank"
        class="flex items-center gap-2 hover:underline"
      >
        <svg class="fill-white" width="32" height="32">
          <use href="#twitter"></use></svg
        >Twitter
      </a>
      <a
        href="https://www.instagram.com/fcshavlbrod.official/"
        target="_blank"
        class="flex items-center gap-2 hover:underline"
      >
        <svg class="fill-white" width="32" height="32">
          <use href="#instagram"></use></svg
        >Instagram
      </a>
    </div>

    <!-- Копирайт -->
    <div class="space-y-1 text-xs">
      <a
        href="javascript:void(0);"
        data-cc="c-settings"
        aria-haspopup="dialog"
        class="mb-4 block underline hover:no-underline"
      >
        Nastavení cookies
      </a>
      <p>
        Copyright ©2025
        <span class="font-semibold">SK BUWOL Luka nad Jihlavou</span> &
        <a href="https://esportsmedia.cz/" target="_blank" class="underline hover:no-underline"
          >eSports.cz</a
        >
      </p>
    </div>
  </div>
</footer>

<div style="display: none">@@include('svg-symbols.html')</div>
